/* You can add global styles to this file, and also import other style files */
@import './scss/variables';

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-size: 1.6rem;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: $app-background;
  color: $app-foreground;
}

/* Form styling */

.tasks-form {
  display: flex;
  flex-direction: column;
  min-width: 50rem;

  .mat-card-content {
    display: flex;
    flex-direction: column;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }
}


/* Mat snackbar styling */

.mat-snack-bar-container {
  &.success {
    background-color: #c5ffc5;
  }
  &.error {
    background-color: rgb(255, 132, 101)
  }
}
